body {
  
        margin: 0px;
        color: white;
        background-image: linear-gradient(60deg, #8b2121, #9b444480);

}
form{
    margin:100px
}
th{
    line-height: 50px;
    text-align: left;
  
    
}
th,td{
    border:1px solid  linear-gradient(60deg, #8b2121, #00000021);;
   
    font-family: system-ui;
    font-weight: 400;
}
input{
box-sizing: border-box;
padding: 7px;
margin-left:10px;
border-radius: 4px;
outline: 0;
border:0;
}
form{
    align-items: left;
    padding: 35px;
}
h2{
    font-size: 40px;

}
.captcha-div{
    background: white;
    width: 217px;
    margin-left: 147px;
    height: 59px;
   margin-top:-25px;
    display: flex;
    border-radius: 4px;

}
textarea{
 width:97% ;
 box-sizing:border-box;
margin-top:10px;
 height:81px; margin-left:10px;
 border-radius: 4px;
 border:0;
}
select{
  width:97%;
  padding:9px;
   margin-left:10px;
   border-radius: 4px;
   border:0;
}
button{
    border: 1px solid white;
    border-radius: 4px;
    letter-spacing: 1px;
    padding: 10px;
    color: white;
    background: transparent;
    border:1px solid white;border-radius: 4px;
    cursor:pointer

}